@font-face {
  font-family: "iconfont"; /* Project id 2872770 */
  src: url('iconfont.woff2?t=1634436523819') format('woff2'),
       url('iconfont.woff?t=1634436523819') format('woff'),
       url('iconfont.ttf?t=1634436523819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e612";
}

.icon-002_mima:before {
  content: "\e610";
}

.icon-yonghu:before {
  content: "\e75c";
}

